<!DOCTYPE html>
<html>
    <head>
        <title>BestTrade - Home</title>
    </head>
    <body>
        <div>
            <h1 style="color:Tomato">Best Trade</h1>
            <h4 style="color:Tomato">The Trading Platform</h4>
            <table style="background-color:MediumSeaGreen;">
        </div>
        <div>
                <nav>
                    <ul>
                        <li><a href="/ui/home">Home</a></li>
                        <li><a href="/ui/about">About</a></li>
                        <li><a href="/ui/investors">Investors</a></li>
                    </ul>
                </nav>
        </div>
    </body>
</html>
